<ion-view view-title="创建/加入投知圈" class="app-team-creation-view">


  <ion-content class="app-team-creation-body" >
    <div style="text-align: center; margin-bottom: 50px;">
      <image src="img/logo1.png" height="auto" width="50%"></image>
    </div>

    <button class="button button-block icon-left btn-white icon-create-team " ng-click="next(1)">创建新的群组</button>
    <div class="clear"></div>
    <button class="button button-block icon-left btn-white icon-join-team" ng-click="next(2)">加入群组</button>
  </ion-content>
</ion-view>
