<ion-view view-title="意见反馈" class="app-account-setting-feedback-view">

  <!--头部和回退按钮-->
  <ion-nav-bar class="app-common-header">

    <ion-nav-buttons side="left">
      <a class="button button-icon icon icon-back" ng-click="goBack()">
      </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <a class="button button-small positive-bg" style="border: none; padding: 0px 10px; font-size: 15px;">
        <span>发送</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="app-account-setting-feedback-body" has-header="false">

    <div class="item item-borderless itemPadding" style="margin: 4% 0%">
      <div>手机型号：iPhone5s</div>
      <div>手机系统：IOS 9.0.1</div>
    </div>

    <div style="width: 100%; padding: 3% 8%; position: relative">

      <textarea class="feedbackBox" placeholder=" "></textarea>
      <a class="btn contactBtn" ng-click="" >联系方式（手机/邮箱皆可）</a>

    </div>


  </ion-content>

</ion-view>
