<ion-view view-title="设置" class="app-account-setting-view">

  <!--头部和回退按钮-->
  <ion-nav-bar class="app-common-header">

    <ion-nav-buttons side="left">
      <a class="button button-icon icon icon-back" ng-click="goBack()">
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="app-account-setting-body" has-header="false">

    <div style="media-bottom: 3.5%">&nbsp;</div>

    <div>

      <a class="item item-borderless itemPadding item_border_bottom" href="#/tab/account-setting-info">
        账户信息
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>

      <a class="item item-borderless itemPadding" href="#/tab/account-setting-push" style="margin-bottom: 3.5%">
        消息推送
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>

      <a class="item item-borderless itemPadding item_border_bottom" href="#">
        了解产品
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>
      <a class="item item-borderless itemPadding item_border_bottom" href="#">
        关于我们
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>
      <a class="item item-borderless itemPadding item_border_bottom" href="#">
        用户协议
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>
      <a class="item item-borderless itemPadding" href="#/tab/account-setting-feedback">
        意见反馈
        <i class="icon ion-ios-arrow-right icon-size arrow_right"></i>
      </a>

    </div>

  </ion-content>

</ion-view>


